canvas {
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

#footer {
  clear:both;
  padding-top:10px;
}


.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
    width:100%;
}

.nav {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}


#wrapper {
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#wrapper {
    width: 100%;
}

.sidebar ul li a.active {
    background-color: #eeeeee;
}

.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar {
padding:0
}

a {
color: #3498DB
}

a:hover {
color: #3488BB
}