@()

@ads("Distributions") {
<h2>Available Distributions</h2>

<div>
    <ul>
        <li><a href="/dist?d=beta">Beta</a>, see <a href="http://en.wikipedia.org/wiki/Beta_distribution" target="_blank">Beta distribution</a></li>
        <li><a href="/dist?d=cauchy">Cauchy</a>,  see <a href="http://en.wikipedia.org/wiki/Cauchy_distribution" target="_blank">Cauchy distribution</a></li>
        <li><a href="/dist?d=chi-squared">ChiSquared</a>, see <a href="http://en.wikipedia.org/wiki/Chi-squared_distribution" target="_blank">Chi-squared distribution</a></li>
        <li><a href="/dist?d=exponential">Exponential</a>, see <a href="http://en.wikipedia.org/wiki/Exponential_distribution" target="_blank">Exponential distribution</a></li>
        <li><a href="/dist?d=f">F</a>, see <a href="http://en.wikipedia.org/wiki/F-distribution" target="_blank">F-distribution</a></li>
        <li><a href="/dist?d=gamma">Gamma</a>, see <a href="http://en.wikipedia.org/wiki/Gamma_distribution" target="_blank">Gamma distribution</a></li>
        <li><a href="/dist?d=gumbel">Gumbel</a>, see <a href="http://en.wikipedia.org/wiki/Gumbel_distribution" target="_blank">Gumbel Distribution</a></li>
        <li><a href="/dist?d=laplace">Laplace</a>,  see <a href="http://en.wikipedia.org/wiki/Laplace_distribution" target="_blank">Laplace distribution</a></li>
        <li><a href="/dist?d=levy">Levy</a>, see <a href="http://en.wikipedia.org/wiki/L%C3%A9vy_distribution" target="_blank"> Levy distribution </a></li>
        <li><a href="/dist?d=logistic">Logistic</a>, see <a href="http://en.wikipedia.org/wiki/Logistic_distribution" target="_blank">Logistic Distribution</a></li>
        <li><a href="/dist?d=logNormal">LogNormal</a>,  see <a href="http://en.wikipedia.org/wiki/Log-normal_distribution" target="_blank">Log-normal distribution</a></li>
        <li><a href="/dist?d=nakagami">Nakagami</a>,  see <a href="http://en.wikipedia.org/wiki/Nakagami_distribution" target="_blank">Nakagami Distribution</a></li>
        <li><a href="/dist?d=gaussian">Normal</a>, see <a href="http://en.wikipedia.org/wiki/Normal_distribution" target="_blank">Normal distribution</a></li>
        <li><a href="/dist?d=pareto">Pareto</a>,  see <a href="http://en.wikipedia.org/wiki/Pareto_distribution" target="_blank"> Pareto distribution</a></li>
        <li><a href="/dist?d=t">T</a>, see <a href="http://en.wikipedia.org/wiki/Student&apos;s_t-distribution" target="_blank">Student's t-distribution</a></li>
        <li><a href="/dist?d=triangular">Triangular</a>, see <a href="http://en.wikipedia.org/wiki/Triangular_distribution" target="_blank">Triangular distribution</a></li>
        <li><a href="/dist?d=uniform">UniformReal</a>, see <a href="http://en.wikipedia.org/wiki/Uniform_distribution_(continuous)" target="_blank">Uniform distribution (continuous), at Wikipedia</a></li>
        <li><a href="/dist?d=weibull">Weibull</a>, see <a href="http://en.wikipedia.org/wiki/Weibull_distribution" target="_blank">Weibull distribution</a></li>
    </ul>
</div>
}
