@()

@main("Welcome to Scala Machine Learning Toolbox") {
<h1>Welcome to  Scala Machine Learning Toolbox"!</h1>
<hr/>
<div id="yt-background" style="width:100%; height:100%; z-index:1;">
<iframe id="ytplayer" style="width: 1704.89px; height: 959px; left: -424.444px;" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/y7FuRYScWnA?controls=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1&amp;start=0&amp;end=45&amp;rel=0&amp;wmode=transparent&amp;">
</iframe>
</div>
}
